@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap');

:root{
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: var(--Cream);
    display: grid;
    place-content: center;
    font-size: 14px;
}

.card{
    display: flex;
    width: 600px;
    height: 450px;
    background-color: var(--White);
    border-radius: 12px;
}

.card__image{
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
}

.card__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 30px;
    gap: 28px;
}

.card__item{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--Grey);
    letter-spacing: 5px;
}

.card__title{
    font-family: 'Fraunces';
    font-size: 2rem;
    line-height: 30px;
    color: var(--Black);
}

.card__description{
    font-size: 0.9rem;
    color: var(--Grey);
    line-height: 22px;
}

.card__price__container{
    display: flex;
    gap: 25px;
    align-items: center;
}

.card__price{
    font-family: 'Fraunces';
    font-size: 2rem;
    color: var(--Green500);
}
.card__previous__price{
    color: var(--Grey);
    text-decoration: line-through;
}

.card__button{
    background-color: var(--Green500);
    width: 100%;
    height: 48px;
    border: none;
    color: var(--White);
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.card__button:hover{
    background-color: var(--Green700);
}

@media(max-width: 645px) {
    body{
        min-height: 100vh;
        height: auto;
    }

    .card{
        flex-direction: column;
        width:295px;
        height: 550px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .card__image{
        background-image: url('./images/image-product-mobile.jpg');
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 30%;
        border-radius: 12px 12px 0px 0px;
    }

    .card__body{
        width: 100%;
        height: 70%;
        padding: 30px;
        gap: 15px;
    }

    .card__title{
        font-size: 1.6rem;
    }
    
    .card__description{
        font-size: 0.7rem;
    }
}